.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container button {
    border: none;
    background-color: rgb(86, 179, 77);
    padding: 0.5rem;
    border-radius: 2px;
    font-weight: 700;
    color: white;
}

.container button:hover {
    cursor: pointer;
}
